<form class="card" [formGroup]="regForm" (ngSubmit)="onSubmit()" id="register_form">
  <fieldset>
    <legend> Registration </legend>
    <div class="col-md-12">
      <label class="form-label">Email </label>
      <input  name="email"  class="form-control"  formControlName="emailFormControl" />
  <div class="input_message" *ngIf="email.invalid && email.touched">Email is invalid</div>
    </div>
    <div class="col-md-12">
      <label class="form-label">Username </label>
      <input  name="email" class="form-control" formControlName="usernameFormControl" />
    </div>
    <div class="col-md-12">
      <label class="form-label">Password </label>
      <input name="password"   class="form-control" type="password" formControlName="passwordFormControl" />
  <div class="input_message" *ngIf="password.invalid && password.touched">Password is invalid</div>
    </div>
    <div class="col-md-12">
      <label class="form-label">Confirm Password </label>
      <input name="password"   class="form-control" type="password"  formControlName="confirmPassword" />
  <div class="input_message" *ngIf="regForm.get('passwordFormControl').value !==
        regForm.get('confirmPassword').value || (confirmPassword.touched &&
            regForm.get('confirmPassword').value === null)" >Passwords are not the same</div>
    </div>
    <button class="btn btn-success">Register</button>
  </fieldset>
</form>
