<form [formGroup]="regForm" (ngSubmit)="onSubmit()" id="register_form">
  <label>
    Email:
  </label>
  <input class="text_like_input" formControlName="emailFormControl" />
  <div class="input_message" *ngIf="email.invalid && email.touched">Email is invalid</div>
  <label>
    username:
  </label>
  <input class="text_like_input" formControlName="usernameFormControl" />
  <label>
    Password:
  </label>
  <input type="password" class="text_like_input" formControlName="passwordFormControl" />
  <div class="input_message" *ngIf="password.invalid && password.touched">Password is invalid</div>
  <label>
    Confirm Password:
  </label>
  <input type="password" class="text_like_input" formControlName="confirmPassword" />
  <div class="input_message" *ngIf="regForm.get('passwordFormControl').value !==
        regForm.get('confirmPassword').value || (confirmPassword.touched &&
            regForm.get('confirmPassword').value === null)" >Passwords are not the same</div>
  <input [disabled]="!regForm.valid" value="Submit" type="submit" class="button_like_input" />
</form>
