/*form {*/
/*  display: grid;*/
/*  grid-template-columns: 2fr;*/
/*  grid-gap: 4px;*/
/*}*/
#register_form {
  margin-top: 2%;
  width: 45%;
  align-self:center ;
  margin-left: 30%;
}
#input-message {
  font-size: 2px;
}
.btn btn-success {
  margin-top: 2%;
}
.card {
  background: #424242;
}


/*.button_like_input {*/
/*  font-family: monospace;*/
/*  box-sizing: content-box;*/
/*  margin-top: 20px;*/
/*  height: 40px;*/
/*}*/
/*label {*/
/*  font-family: monospace;*/
/*  font-size: 15px;*/
/*}*/
