<div class="row">
  <div class=col-md-12>
    <div (click)="rotate()" [@rotatedState]='state' appImageSize [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container paper">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 caption-row">
      <span id="caption">
        {{image.caption}}
      </span>
  </div>
  <div class="col-md-12 caption-row">
  </div>

  <div class="col-md-12 caption-row">
    <p *ngIf="hasComments">Comments:</p>
    <ul class="list-group" *ngIf="hasComments">
      <li  *ngFor="let comment of comments" class="list-group-item" >
        {{ comment }}
      </li>
    </ul>
    <p *ngIf="!hasComments">No comments</p>

    <button style="margin-top: 16px" (click)="showComment = !showComment">
      {{showComment ? 'Hide section' : 'Add comment'}}
    </button>

  </div>

  <div class="col-md-12 caption-row">
    <p *appUnless="!showComment">
      <input type="text" (keyup)="onCommentChange($event)" />
      <button  style="margin-left: 16px" (click)="changeComment()">
        Add
      </button>
    </p>

  </div>

  <div class="col-md-12 caption-row">
    <p>Created date : {{image.createdDate | dateFormat }}</p>
    <p>rating of this place:</p>
    <div style="width:100px; margin:0 auto;">
      <ngx-stars [readonly]="false" [maxStars]="5" [initialStars]="3.5"></ngx-stars>
    </div>
  </div>




</div>


<div style="alignment-baseline: middle">
</div>
