<div class="row">
  <div class=col-md-12>
    <div (click)="rotate()" [@rotatedState]='state' appImageSize [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container paper">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 caption-row">
      <span id="caption">
        {{image.caption}}
      </span>
  </div>

  <div class="col-md-12 caption-row">
    <p style="font-style: italic">How many people like this:</p>
    <p style="color: #0D47A1">{{numberOfLikes}}</p>
    <img  (click)="like()" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQvod7evTRQiZD28fuvS4cDPJmcpIhe7kSTQBKRKLj77JQPu7l&s" style="width: 70px; height: 70px"/>

  </div>

  <div class="col-md-12 caption-row">
    <p *ngIf="hasComments">Comments:</p>
    <ul class="list-group" *ngIf="hasComments">
      <li  *ngFor="let comment of comments" class="list-group-item" >
        {{ comment }}
      </li>
    </ul>
    <p *ngIf="!hasComments">No comments</p>

    <button style="margin-top: 16px" (click)="showComment = !showComment">
      {{showComment ? 'Hide section' : 'Add comment'}}
    </button>

  </div>

  <div class="col-md-12 caption-row">
    <p *appUnless="!showComment">
      <input type="text" (keyup)="onCommentChange($event)" />
      <button  style="margin-left: 16px" (click)="changeComment()">
        Add
      </button>
    </p>

  </div>

  <div class="col-md-12 caption-row">
    <button  style="margin-left: 16px; margin-top: 16px" (click)="addImage()">
      Add image to your collection
    </button>
  </div>

  <div class="col-md-12 caption-row">
    <p>Created date : {{image.createdDate | dateFormat }}</p>
    <p>rating of this place:</p>
    <div style="width:100px; margin:0 auto;">
      <ngx-stars [readonly]="false" [maxStars]="5" [initialStars]="3.5"></ngx-stars>
    </div>

    </div>

</div>

