<div class="row">
  <div class=col-md-12>
    <div  appImageSize [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container paper">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 caption-row">
      <span id="caption">
        {{image.caption}}
      </span>
  </div>
  <div class="col-md-12 caption-row">
      <p>Comment: {{comment}}</p>
  </div>


  <div class="col-md-12 caption-row">
    <button (click)="showComment = !showComment">
      {{showComment ? 'Hide edit section' : 'Change comment'}}
    </button>
  </div>

  <div class="col-md-12 caption-row">
    <p *appUnless="!showComment">
      <input type="text" (keyup)="onCommentChange($event)" />
      <button (click)="changeComment()">
        Change comment
      </button>
    </p>

  </div>

  <div class="col-md-12 caption-row">
    <p>Created date : {{image.createdDate | dateFormat }}</p>
  </div>

</div>
