<div class="row">
  <div class="col-md-12 caption-row">
    <h1 *ngIf="hasMyImages">My images:</h1>
    <ul class="list-group" *ngIf="hasMyImages">
      <li  *ngFor="let myImage of myImages" class="list-group-item" >
        <div [ngStyle]="{'background-image':'url('+ myImage.url +')'}" class="img-container paper">
        </div>
        <h3 style="color: #0D47A1">{{myImage.caption}}</h3>
      </li>
    </ul>
    <h1 *ngIf="!hasMyImages">You have no images, you can add one from the gallery</h1>


  </div>

</div>
