<div style="padding: 0 20%; margin: auto;">
  <form *ngIf="!isSent" [formGroup]="formEmail" (ngSubmit)="onSubmitEmail()">
    <div>
      <label>Enter the email address you specified during registration and we will send you a link to reset your
        password</label>
      <input formControlName="email" type="text" style="width: 300px"/>
    </div>
    <button type="submit" style="background-color: #9dcf00; color: white; margin-top: 10px">Send</button>

  </form>

  <div *ngIf="isSent">
    <label>Success!)</label>
  </div>

</div>
